:host{
    display: block;
    min-height: 100vh; 
    background-image: url('https://images.unsplash.com/photo-1449247709967-d4461a6a6103?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.content{
    margin:2rem;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontal center */
    align-items: center;     /* Vertical center */
    height: 100vh;
    width: 100%;
}
.btn-login{
    margin-top: 1rem;
}

::ng-deep .btn-login button {
    background-color: rgb(3, 17, 80);
    border: rgb(3, 17, 80);
}

.register-btn{
    display: flex;
    flex-direction: column;
}