<p-panel header="Cadastro de Livro" class="card">
    <form (ngSubmit)="onSubmit()" class="p-fluid">
  
      <!-- Nome -->
      <div class="p-field">
        <label for="name">Nome</label>
        <p-inputText id="nome" [(ngModel)]="formData.nome.value" name="nome" required></p-inputText>
      </div>
  
      <!-- Data de Nascimento -->
      <div class="p-field">
        <label for="dataLancamento">Data de Lançamento</label>
        <p-calendar id="dataLancamento" [(ngModel)]="formData.dataLancamento.value" name="dataLancamento" dateFormat="yy-mm-dd" required></p-calendar>
      </div>
  
      <!-- Botão Cadastrar -->
      <div class="p-field">
        <p-button label="Cadastrar" type="submit" icon="pi pi-check"></p-button>
      </div>
      <div class="p-field">
        <label for="author">Autor</label>
        <p-dropdown 
          id="author" 
          [options]="authors" 
          [(ngModel)]="formData.autorId" 
          optionLabel="name" 
          optionValue="id" 
          name="author" 
          placeholder="Selecione um autor" 
          required>
        </p-dropdown>
      </div>
    </form>
  </p-panel>
  